TEST_LLM_MODEL=anthropic/claude-sonnet-4-6
TEST_LLM_API_KEY=
SECONDARY_LLM_MODEL=$(TEST_LLM_MODEL)
SECONDARY_LLM_API_KEY=$(TEST_LLM_API_KEY)
LMNR_PROJECT_API_KEY=
OPENHANDS_API_KEY=
LLM_API_KEY=
LLM_MODEL=moonshot/kimi-k2.5